// variables
$small: 37.5rem;
$mobile: 87.4988rem;
$desktop: 119.9988rem;

.header {
    height: 64px;
    z-index: 102;
    position: relative;
  // .soundToggler {
  //   position: absolute;
  //   top: 75px;
  //   right: 0;
  // }
  &__container {
    display: flex;
    padding: 0 12px;
    position: relative;
    height: 100%;
    justify-content: flex-end;
  }
  &__logo {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 44px;
    height: 44px;
    img {
      width: 100%;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
  &__tgBtns {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  // &__inviteBtn {
  //   overflow: hidden;
  //   border: 0.125rem solid #fff;
  //   border-radius: 3.75rem;
  //   text-align: center;
  //   align-items: center;
  //   width: 150px;
  //   height: 45px;
  //   background: linear-gradient(87deg, #a67de7 0%, #691ee2 90.83%);
  //   button {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     justify-content: center;
  //     width: 100%;
  //     height: 100%;
  //     font-weight: 600;
  //     font-size: 16px;
  //     color: #fff;
  //     svg {
  //       margin-left: 6px;
  //       margin-bottom: 2px;
  //     }
  //   }
  // }
  // &__leaderboard {
  //   margin-right: 20px;
  //   overflow: hidden;
  //   border: 0.125rem solid #fff;
  //   border-radius: 3.75rem;
  //   text-align: center;
  //   align-items: center;
  //   width: 150px;
  //   height: 45px;
  //   background: linear-gradient(87deg, #a67de7 0%, #691ee2 90.83%);
  //   button {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     justify-content: center;
  //     width: 100%;
  //     height: 100%;
  //     font-weight: 600;
  //     font-size: 16px;
  //     color: #fff;
  //     img {
  //       margin-left: 6px;
  //       margin-bottom: 2px;
  //     }
  //   }
  // }
  &__leaderboardCenter {
    margin-right: -13.6rem;
    @media (max-width: $desktop) {
      margin-right: -15.25rem;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__mobileBtns {
    display: flex;
    align-items: center;
    gap: 15px;
    button {
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 108px;
      height: 44px;
      border: 2px solid #fff;
      border-radius: 60px;
    }
    svg {
      margin-left: 10px;
    }
  }
  &__totalScore {
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
    position: absolute;
    top: 5.625rem;
    span {
      margin-left: 0.625rem;
    }
    @media (max-width: $desktop) {
      font-size: 1rem;
    }
    @media (max-width: $mobile) {
      // display: none;
      top: 5rem;
      left: 12px;
    }
    @media (max-width: 26.25rem) {
      margin-left: 0;
    }
  }
  &__walletBtn {
    .wallet-adapter-button-start-icon {
      margin-right: 6px !important;
    }
    .wallet-adapter-button {
      background: transparent !important;
      font-weight: 600 !important;
      font-size: 1.25rem !important;
      border: 0.125rem solid #fff !important;
      border-radius: 3.75rem !important;
      z-index: 10 !important;
      cursor: pointer;
      transition: 0.25s !important;
      padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem !important;
      @media (max-width: $desktop) {
        padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem !important;
      }
      @media (max-width: $mobile) {
        padding: 0.625rem 0.9375rem 0.5rem 0.9375rem !important;
        font-size: 1rem !important;
      }
    }
    span {
      @media (max-width: $mobile) {
        display: none;
      }
    }
    svg {
      display: none;
      @media (max-width: $mobile) {
        display: flex;
      }
    }
    .wallet-adapter-button:hover {
      transition: 0.25s;
      color: #000000;
      background-color: #ffffff;
      @media (max-width: $mobile) {
        color: #ffffff;
        background-color: transparent;
      }
    }
  }
  &__mobileMenu {
    display: flex;
    position: absolute;
    margin-top: 70px;
    flex-direction: column;
    z-index: 200;
    top: 0;
    right: 12px;
    backdrop-filter: blur(24px);
    background: rgba(17, 16, 30);
    border: 1px solid #554a9c;
    border-radius: 20px; 
    padding: 12px; 
    gap: 5px;
  }
  &__mobileMenu-links {
    background: rgba(43, 47, 82, 0.3);
    border: 1px solid #3f3773;
    border-radius: 10px;
    padding: 8px 12px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #fff;
  }
}

// .header__mobileBurger-btn.is-active .header__mobileBurger-line:nth-child(2) {
//   opacity: 0;
// }

// .header__mobileBurger-btn.is-active .header__mobileBurger-line:nth-child(1) {
//   -webkit-transform: translateY(0.5625rem) rotate(45deg);
//   -ms-transform: translateY(0.5625rem) rotate(45deg);
//   -o-transform: translateY(0.5625rem) rotate(45deg);
//   transform: translateY(0.5625rem) rotate(45deg);
// }

// .header__mobileBurger-btn.is-active .header__mobileBurger-line:nth-child(3) {
//   -webkit-transform: translateY(-0.4375rem) rotate(-45deg);
//   -ms-transform: translateY(-0.4375rem) rotate(-45deg);
//   -o-transform: translateY(-0.4375rem) rotate(-45deg);
//   transform: translateY(-0.4375rem) rotate(-45deg);
// }

// Leaderboard

// variables
$mobile: 87.4988rem;
$desktop: 119.9988rem;

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popupLeaderboard-show body::after {
  opacity: 1;
}
.popupInvite-show body::after {
  opacity: 1;
}
.popupLeaderboard{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  transition: visibility 0.8s ease 0s;
  pointer-events: none;
  @media (max-width: $mobile) {
    padding: 0 12px;
  }
}
.popupInvite{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  pointer-events: none;
  @media (max-width: $mobile) {
  }
}
.popupLeaderboard_show{
  z-index: 302;
  display: block;
  overflow: auto;
  pointer-events: auto;
}
.popupInvite_show{
  z-index: 302;
  display: flex;  
  overflow: auto;
  pointer-events: auto;
}
.popupLeaderboard_show .popupLeaderboard__content {
  display: block;
}
.popupInvite_show .popupInvite__content {
  display: flex;
}
.popupLeaderboard__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}
.popupInvite__wrapper{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.popupLeaderboard__content{
  display: none;
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  width: 100%;
}
.popupInvite__content{
  display: none;
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  width: 100%;
  height: 100%;
}

// Leaderboard popup
.popupLeaderboard {
  &__wrapper {
  }
  &__content {
    margin-top: 32px;
    padding: 24px 12px 12px 12px;
    backdrop-filter: blur(32px);
    background: linear-gradient(180deg, rgba(11, 31, 70, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    border: 1px solid #554a9c;
    border-radius: 20px;
  }
  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  &__title {
    width: fit-content;
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
    h4 {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: #fff;
    }
  }
  &__playerList {
    margin-top: 28px;
  }
  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.625rem;
  }
  &__tableItem {
    border: 1px solid #3f3773;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    height: 40px;
    .popupLeaderboard__id {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-align: center;
      svg {
        display: none;
        position: absolute;
      }
    }
    .popupLeaderboard__playerName {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
    }
    .popupLeaderboard__coins {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.02em;
    }
  }
  &__tableItem:first-child {
    border-bottom: 1px solid #ffe351;
    border-left: 10px solid #ffe351;
    border-right: 1px solid #ffe351;
    border-top: 1px solid #ffe351;
    padding-left: 12px;
    span {
      color:#ffe351;
    }
    .popupLeaderboard__id {
      svg {
        display: block;
        left: -9px;
      }
    }
    .popupLeaderboard__playerName {
    }
    .popupLeaderboard__coins {
    }
  }
  &__tableItem:nth-child(2) {
    border-bottom: 1px solid #cecece;
    border-left: 10px solid #cecece;
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    padding-left: 12px;
    span {
      color: #cecece;;
    }
    .popupLeaderboard__id {
      svg {
        display: block;
        left: -8px;
        path {
          fill: #ffffff;
        }
      }
    }
    .popupLeaderboard__playerName {
    }
    .popupLeaderboard__coins {
    }
  }
  &__tableItem:nth-child(3) {
    border-bottom: 1px solid #ff961a;
    border-left: 10px solid #ff961a;
    border-right: 1px solid #ff961a;
    border-top: 1px solid #ff961a;
    padding-left: 12px;
    span {
      color: #ff961a;
    }
    .popupLeaderboard__id {
      svg {
        display: block;
        left: -8px;
        path {
          fill: #ff961a;;
        }
      }
    }
    .popupLeaderboard__playerName {
    }
    .popupLeaderboard__coins {
    }
  }
  &__tableItem:last-child {
    border: 2px solid #fff;
    background: rgba(105, 30, 226, 0.55);
  }
  &__itemData {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 130%;
    color: #fff;
    width: 100%;
  }
  &__id {
    @media (max-width: $mobile) {
      font-size: 1.125rem;
    }
  }
  &__playerName {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }
  &__coins {
    position: absolute;
    display: flex;
    right: 0;
    width: fit-content;
    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }
}

.popupInvite {
  padding: 0 16px;
  margin: 32px 0 0 0;
  &__wrapper {
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    display: flex;
  }
  &__content {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 16px 12px;
    height: auto;
    backdrop-filter: blur(1.125rem);
    background: linear-gradient(180deg, rgb(11, 31, 70) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__close {
    position: absolute;
    top: 1.875rem;
    right: 1.875rem;
    @media (max-width: $mobile) {
      top: 12px;
      right: 12px;
    }
    svg {
      @media (max-width: $mobile) {
        height: 24px;
        width: 24px;
      }
    }
  }
  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    color: #fff;
    margin-top: 51px;
    margin-bottom: 32px;
    @media (max-width: $mobile) {
      font-size: 32px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      margin-top: 1.25rem;
    }
    h6 {
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: #fff;
      display: flex;
      @media (max-width: $mobile) {
        order: 2;
        font-size: 32px;
        margin-top: 50px;
      }
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__refInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;    
  }
  &__headerDescr {    
    border: 1px solid #3f3773;
    border-radius: 10px;
    width: 100%;
    height: 124px;
    padding: 16px 5px 0px;
    flex-direction: column;
    background: rgba(43, 47, 82, 0.3);
    p {
      margin-bottom: 10px;
      @media (max-width: $mobile) {
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0.01em;
      }
    }
    @media (max-width: $mobile) {
    }
    @media (max-width: 767.98px) {
    }
    img {
      margin-bottom: 10px;
    }
    svg {
    }
  }
  &__headerItem {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    h3 {
      margin-bottom: 0;
      margin-right: 10px;
      font-weight: 600;
      font-size: 30px;
      color: #fff;
      @media (max-width: $mobile) {
        font-size: 22px;
      }
    }
    img {
      margin-right: 5px;
      width: 30px;
      height: 30px;
      @media (max-width: $mobile) {
        width: 22px;
        height: 22px;
      }
    }
  }
  &__grid {
    --_gap: 10rem;
    margin-top: 32px;
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    gap: var(--_gap);
    align-items: center;
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      --_gap: 2.5rem;
      gap: var(--_gap);
    }
  }
  &__gridItem {
  }
  &__list {
    position: relative;
  }
  &__list-item {
    display: flex;
    border: 1px solid #3f3773;
    background: rgba(43, 47, 82, 0.3);
    border-radius: 10px;
    padding: 12px 12px;
    width: 100%;
    align-items: center;
    height: 78px;
    margin-top: 10px;
    position: relative;
    @media (max-width: $small) {
      padding-left: 44px;;
    }
    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 25px;
      left: 12px;
    }
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 23px;
        background-image: url("data:image/svg+xml,%3Csvg width='2' height='73' viewBox='0 0 2 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='72' x2='1' y2='1' stroke='white' strokeWidth='2' strokeLinecap='round' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A");
        width: 2px;
        height: 100%;
        @media (max-width: $small) {
          display: none;
        }
      }
    }
    .header__inviteBtn {
      display: flex;
      align-self: center;
      margin-top: 20px;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    border-radius: 50%;
    @media (max-width: $small) {
      display: none;
    }
  }
  &__list-itemDescr {
    display: flex;
    flex-direction: column;
    h5 {
      font-weight: 600;
      font-size: 20px!important;
      line-height: 100%;
      letter-spacing: 0.04em;
      line-height: 100%;
      color: #fff;
      @media (max-width: $small) {
        font-size: 1rem;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px!important;
      line-height: 140%;
      color: #fff;
      @media (max-width: $small) {
        font-size: 0.875rem;
      }
    }
  }
  &__item-box {
    border: 0.125rem solid #fff;
    border-radius: 1.875rem;
    padding: 3.125rem 1.875rem;
    @media (max-width: $small) {
      padding: 1.875rem 0.9375rem;
      border: none;
      padding: 0;
    }
  }
  &__item-group {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
    p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 140%;
      color: #fff;
      &:not(:last-child) {
        margin-bottom: 0.9375rem;
      }
      @media (max-width: $small) {
        font-size: 1.25rem;
      }
    }
  }
  .inviteLinkBtn {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100%;
    height: 44px;
    button {
      background: linear-gradient(270deg, #1cafee 0%, #35cf6e 71.63%, #3fdb3c 100%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 12px;
      width: 100%;
      height: 100%;
    }
  }
}