// variables
$mobile: 1399.98px;
$desktop: 1919.98px;

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popupTasks-show body::after {
  opacity: 1;
}
.popupTasks {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  pointer-events: none;
  @media (max-width: $mobile) {
  }
}
.popupTasks_show {
  z-index: 300;
  display: block;
  overflow: auto;
  pointer-events: auto;
}
.popupTasks_show .popupTasks__content {
  display: flex;
  flex-direction: column;
  padding: 30% 25px;
}
.popupTasks__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}
.popupTasks__content {
  display: none;
  transition: transform 0.3s ease 0s;
  width: 100%;
  background: rgba(41, 47, 79, 1);
  height: 100vh;
}

.popupTasks {
  &__wrapper {
  }
  &__content {
    display: flex;
    position: relative;
  }
  &__close {
    position: relative;
    @media (max-width: $mobile) {
      bottom: 20px;
      left: 45%;
    }
    svg {
      @media (max-width: $mobile) {
        height: 0.9375rem;
        width: 0.9375rem;
      }
    }
  }
  &__title {
    font-weight: 900;
    line-height: 100%;
    color: #fff;
    @media (max-width: $mobile) {
      font-size: 1.25rem;
      width: 11.875rem;
      position: relative;
    }
  }
  &__coins {
    @media (max-width: $mobile) {
      position: relative;
      display: flex;
    }
  }
  &__coinBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 1.25rem;
    right: 1.25rem;
    margin-top: 20px;
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      order: 1;
      width: fit-content;
      align-self: center;
      justify-content: center;
      right: 0;
      top: 0;
    }
  }
  &__coinImg {
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
    width: 51px;
    height: 52px;
    img {
      width: 100%;
    }
    @media (max-width: $mobile) {
      width: 20px;
      height: 20px;
    }
  }
  &__coinAmount {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-top: 4px;
      font-weight: 600;
      font-size: 24px;
      color: #fff;
      @media (max-width: $mobile) {
        font-size: 24px;
      }
    }
  }
  &__tabBtns {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #292f4fc5;
    border-radius: 10px;
    width: 290px;
    height: 50px;
    button {
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 10px;
      font-size: 14px;
    }
  }
}

.footerMain {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .soundToggler {
    @media (max-width: $mobile) {
      display: none;
    }
  }
  @media (max-width: $mobile) {
    padding: 0;
  }
  &__container {
    padding: 0 20px;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  &__activities {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    background: rgba(41, 47, 79, 0.5);
    padding: 0.625rem 0.8125rem;
    display: flex;
    gap: 0.9375rem;
    margin: 15px 0 20px 0;
    @media (max-width: $mobile) {
      gap: 0.5625rem;
    }
  }
  &__activitiesBtn {
    position: relative;
    button {
      display: flex;
      align-items: center;
      border: 0.125rem solid #fff;
      border-radius: 3.75rem;
      height: 3.125rem;
      padding: 0 1.25rem;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 0%;
      color: #fff;
      @media (max-width: $mobile) {
        padding: 0 0.875rem;
        font-size: 1rem;
      }
    }
    img {
      margin-left: 0.625rem;
      @media (max-width: $mobile) {
        scale: 0.8;
        margin-left: 0.3125rem;
      }
    }
  }
  &__activitiesBtn:first-child {
    button {
      background: linear-gradient(87deg, #691ee2 0%, #c09aff 100%);
      transition: opacity 0.25s;
      position: relative;
    }
    button::before {
      content: "";
      background: linear-gradient(-87deg, #691ee2 0%, #c09aff 100%);
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3.75rem;
      transition: opacity 0.25s ease-in-out;
      right: 0;
    }
    button:hover:before {
      opacity: 1;
    }
    span {
      z-index: 10;
      position: relative;
    }
    img {
      position: relative;
      z-index: 10;
    }
  }
  &__activitiesHint {
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 3.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    background: #7631e7;
    transform: rotate(8deg);
    font-weight: 400;
    font-size: 0.625rem;
    color: #fff;
    padding: 0 0.5625rem;
    top: -0.9375rem;
    right: -1.5625rem;
  }
}

.popupTasks {
&__tasks {
  display: none;
  &.active {
    display: block;
  }
}
  &__task {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    button {
      margin-top: 10px;
      width: 100%;
      border: 0.125rem solid #fff;
      border-radius: 3.75rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      height: 48px;
      padding: 8px 10px 10px 10px;
      padding-bottom: 8px;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      background: linear-gradient(87deg, #c09aff 0%, #691ee2 90.83%);
    }
    button:disabled {
      background: #292f4f;
    }
    img {
      position: absolute;
      right: 21px;
      margin-top: 10px;
      width: 20px;
    }
    p {
      position: absolute;
      right: 21px;
      margin-top: 10px;
    }
  }
  &__tabs-btns {
    margin-top: 35px;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 768px) {
      margin-top: 1.5625rem;
      padding: 0.625rem;
      gap: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      margin: 0 auto;
    }
  }
  &__tabs-btn {
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 10;
    button {
      padding: 12px 19px 10px 19px;
      height: 43px;
      width: 85px;
      font-weight: 600;
      font-size: 1.375rem;
      color: rgba(255, 255, 255);
      opacity: 0.6;
      text-align: start;
      span {
        @media (max-width: 768px) {
          display: none;
        }
      }
      @media (max-width: 768px) {
        font-size: 0.875rem;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0.625rem;
        width: 5.3125rem;
        justify-content: center;
        display: flex;
      }
    }
    &.active {
      border-bottom: 1px solid rgba(41, 47, 79);
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      overflow: hidden;
      button {
        opacity: 1;
      }
      @media (max-width: 768px) {
        border: 1px solid #fff;
        border-radius: 10px;
        background: linear-gradient(87deg, #c09aff 0%, #691ee2 90.83%);
      }
    }
    .footerMain__activitiesHint {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        font-size: 0.625rem;
        padding: 0 3px;
      }
    }
  }
  &__walletTask {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    input {
      padding: 10px 0 10px 10px;
      width: 180px;
      height: 100%;
    }
    input::placeholder {
      color: #fff;
      font-size: 10px;
      font-size: 0.75rem;
    }
    input:focus {
      outline: none;
    }
    input:disabled {
      opacity: 0.5;
    }
    button:disabled {
      opacity: 0.5;
    }
  }
  &__walletTask-inputBtn {
    box-shadow: -15px 0px 17px -7px rgba(0,0,0,0.75);
    background: linear-gradient(87deg, #691ee2 0%, #c09aff 100%);
    border: 2px solid #fff;
    border-radius: 40px;
    position: absolute;
    height: 47px;
    width: 48px;
    top: -1,5px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
    }
  }
  &__walletTask-rightHint {
    display: flex;
    span {
      font-weight: 400;
      font-size: 9px;
      line-height: 137%;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__walletTask-rightBtn {
    display: flex;
    overflow: hidden;
    button {
      border: 2px solid;
      border-radius: 20px;
      overflow: hidden;
      padding: 10px;
      width: 100%;
      height: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #fff;
      svg {
        margin-right: 5px;
      }
    }
    button:disabled {
      opacity: 0.5;
    }
  }
  &__walletTask-right {
    display: flex;
    gap: 15px;
    align-items: center;
    position: absolute;
    right: 0;
  }
  &__walletTask-left {
    display: flex;  
    align-items: center;
    position: absolute;
    right: 65px;
    top: 18px;
    img {
      position: absolute;
      right: 0;
      top: -4px;
      width: 20px;
    }
  }
  &__walletTask-input {
    border: 0.125rem solid #fff;
    border-radius: 60px;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    align-self: flex-start;
    color: #fff;
    background: #ffffff00;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: row;
    width: 100%;
  }
  &__walletTask-box {
    display: flex;
    margin: 10px 0 50px 0;
    width: 100%;
    align-self: start;
    position: relative;
    img {
      width: 20px;
    }
  }
}
